<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Backflow Web - UMIGURI Mode</title>
        <link rel="stylesheet" href="../styles.css" />
        <script src="../script.js" defer></script>
    </head>
    <body>
        <div class="touch-counter" id="touchCounter">Touches: 0</div>
        <div class="grid-container">
            <div class="grid-row horizontal" data-cell-section="air-sensor">
                <div class="grid-cell" data-key="KEY_1">1</div>
                <div class="grid-cell" data-key="KEY_2">2</div>
                <div class="grid-cell" data-key="KEY_3">3</div>
                <div class="grid-cell" data-key="KEY_4">4</div>
                <div class="grid-cell" data-key="KEY_5">5</div>
                <div class="grid-cell" data-key="KEY_6">6</div>
            </div>
            <div class="grid-row" data-cell-section="slider">
                <div class="grid-cell" data-key="KEY_Q">Q</div>
                <div class="grid-cell" data-key="KEY_W">W</div>
                <div class="grid-cell" data-key="KEY_E">E</div>
                <div class="grid-cell" data-key="KEY_R">R</div>
                <div class="grid-cell" data-key="KEY_T">T</div>
                <div class="grid-cell" data-key="KEY_Y">Y</div>
                <div class="grid-cell" data-key="KEY_U">U</div>
                <div class="grid-cell" data-key="KEY_I">I</div>
                <div class="grid-cell" data-key="KEY_O">O</div>
                <div class="grid-cell" data-key="KEY_P">P</div>
                <div class="grid-cell" data-key="KEY_A">A</div>
                <div class="grid-cell" data-key="KEY_S">S</div>
                <div class="grid-cell" data-key="KEY_D">D</div>
                <div class="grid-cell" data-key="KEY_F">F</div>
                <div class="grid-cell" data-key="KEY_G">G</div>
                <div class="grid-cell" data-key="KEY_H">H</div>
            </div>
        </div>
    </body>
</html>
