<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Backflow Web - UMIGURI Mode</title>
        <link rel="stylesheet" href="../styles.css" />
        <script src="../script.js" defer></script>
    </head>
    <body>
        <div class="touch-counter" id="touchCounter">Touches: 0</div>
        <div class="grid-container">
            <div class="grid-row horizontal" data-cell-section="air-sensor">
                <div class="grid-cell" data-key="1"></div>
                <div class="grid-cell" data-key="2"></div>
                <div class="grid-cell" data-key="3"></div>
                <div class="grid-cell" data-key="4"></div>
                <div class="grid-cell" data-key="5"></div>
                <div class="grid-cell" data-key="6"></div>
            </div>
            <div class="grid-row" data-cell-section="slider">
                <div class="grid-cell" data-key="q"></div>
                <div class="grid-cell" data-key="w"></div>
                <div class="grid-cell" data-key="e"></div>
                <div class="grid-cell" data-key="r"></div>
                <div class="grid-cell" data-key="t"></div>
                <div class="grid-cell" data-key="y"></div>
                <div class="grid-cell" data-key="u"></div>
                <div class="grid-cell" data-key="i"></div>
                <div class="grid-cell" data-key="o"></div>
                <div class="grid-cell" data-key="p"></div>
                <div class="grid-cell" data-key="a"></div>
                <div class="grid-cell" data-key="s"></div>
                <div class="grid-cell" data-key="d"></div>
                <div class="grid-cell" data-key="f"></div>
                <div class="grid-cell" data-key="g"></div>
                <div class="grid-cell" data-key="CHUNIIO_SLIDER_31"></div>
            </div>
        </div>
    </body>
</html>
