<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Backflow Web - UMIGURI Mode</title>
        <link rel="stylesheet" href="../styles.css" />
        <script src="../script.js" defer></script>
    </head>
    <body>
        <div class="touch-counter" id="touchCounter">Touches: 0</div>
        <div class="grid-container">
            <div class="grid-row horizontal" data-cell-section="air-sensor">
                <div class="grid-cell" data-key="CHUNIIO_IR_5"></div>
                <div class="grid-cell" data-key="CHUNIIO_IR_4"></div>
                <div class="grid-cell" data-key="CHUNIIO_IR_3"></div>
                <div class="grid-cell" data-key="CHUNIIO_IR_2"></div>
                <div class="grid-cell" data-key="CHUNIIO_IR_1"></div>
                <div class="grid-cell" data-key="CHUNIIO_IR_0"></div>
            </div>
            <div class="grid-row" data-cell-section="slider">
                <div class="grid-cell" data-key="CHUNIIO_SLIDER_31"></div>
                <div class="grid-cell" data-key="CHUNIIO_SLIDER_29"></div>
                <div class="grid-cell" data-key="CHUNIIO_SLIDER_27"></div>
                <div class="grid-cell" data-key="CHUNIIO_SLIDER_25"></div>
                <div class="grid-cell" data-key="CHUNIIO_SLIDER_23"></div>
                <div class="grid-cell" data-key="CHUNIIO_SLIDER_21"></div>
                <div class="grid-cell" data-key="CHUNIIO_SLIDER_19"></div>
                <div class="grid-cell" data-key="CHUNIIO_SLIDER_17"></div>
                <div class="grid-cell" data-key="CHUNIIO_SLIDER_15"></div>
                <div class="grid-cell" data-key="CHUNIIO_SLIDER_13"></div>
                <div class="grid-cell" data-key="CHUNIIO_SLIDER_11"></div>
                <div class="grid-cell" data-key="CHUNIIO_SLIDER_9"></div>
                <div class="grid-cell" data-key="CHUNIIO_SLIDER_7"></div>
                <div class="grid-cell" data-key="CHUNIIO_SLIDER_5"></div>
                <div class="grid-cell" data-key="CHUNIIO_SLIDER_3"></div>
                <div class="grid-cell" data-key="CHUNIIO_SLIDER_1"></div>
            </div>
        </div>
    </body>
</html>
