<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Backflow Web - UMIGURI Mode</title>
        <link rel="stylesheet" href="../styles.css" />
        <script src="../script.js" defer></script>
    </head>
    <body>
        <div class="touch-counter" id="touchCounter">Touches: 0</div>
        <div class="grid-container" id="grid-container" data-overlap="15">
            <div class="grid-row horizontal" data-cell-section="air-sensor">
                <div class="grid-cell" data-key="KEY_1" data-led-id="32">1</div>
                <div class="grid-cell" data-key="KEY_2" data-led-id="33">2</div>
                <div class="grid-cell" data-key="KEY_3" data-led-id="34">3</div>
                <div class="grid-cell" data-key="KEY_4" data-led-id="35">4</div>
                <div class="grid-cell" data-key="KEY_5" data-led-id="36">5</div>
                <div class="grid-cell" data-key="KEY_6" data-led-id="37">6</div>
            </div>
            <div class="grid-row" data-cell-section="slider">
                <div class="grid-cell" data-key="KEY_Q" data-led-id="0">Q</div>
                <div class="grid-separator" data-led-id="1"></div>
                <div class="grid-cell" data-key="KEY_W" data-led-id="2">W</div>
                <div class="grid-separator" data-led-id="3"></div>
                <div class="grid-cell" data-key="KEY_E" data-led-id="4">E</div>
                <div class="grid-separator" data-led-id="5"></div>
                <div class="grid-cell" data-key="KEY_R" data-led-id="6">R</div>
                <div class="grid-separator" data-led-id="7"></div>
                <div class="grid-cell" data-key="KEY_T" data-led-id="8">T</div>
                <div class="grid-separator" data-led-id="9"></div>
                <div class="grid-cell" data-key="KEY_Y" data-led-id="10">Y</div>
                <div class="grid-separator" data-led-id="11"></div>
                <div class="grid-cell" data-key="KEY_U" data-led-id="12">U</div>
                <div class="grid-separator" data-led-id="13"></div>
                <div class="grid-cell" data-key="KEY_I" data-led-id="14">I</div>
                <div class="grid-separator" data-led-id="15"></div>
                <div class="grid-cell" data-key="KEY_O" data-led-id="16">O</div>
                <div class="grid-separator" data-led-id="17"></div>
                <div class="grid-cell" data-key="KEY_P" data-led-id="18">P</div>
                <div class="grid-separator" data-led-id="19"></div>
                <div class="grid-cell" data-key="KEY_A" data-led-id="20">A</div>
                <div class="grid-separator" data-led-id="21"></div>
                <div class="grid-cell" data-key="KEY_S" data-led-id="22">S</div>
                <div class="grid-separator" data-led-id="23"></div>
                <div class="grid-cell" data-key="KEY_D" data-led-id="24">D</div>
                <div class="grid-separator" data-led-id="25"></div>
                <div class="grid-cell" data-key="KEY_F" data-led-id="26">F</div>
                <div class="grid-separator" data-led-id="27"></div>
                <div class="grid-cell" data-key="KEY_G" data-led-id="28">G</div>
                <div class="grid-separator" data-led-id="29"></div>
                <div class="grid-cell" data-key="KEY_H" data-led-id="30">H</div>
            </div>
        </div>
    </body>
</html>
