<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Backflow Web - Virtual Keyboard</title>
        <link rel="stylesheet" href="../../styles.css" />
        <link rel="stylesheet" href="keyboard.css" />
        <script src="../script.js" defer></script>
    </head>
    <body>
        <div class="keyboard-container" id="grid-container">
            <!-- Number row -->
            <div class="keyboard-row">
                <div class="grid-cell key" data-key="KEY_GRAVE">~</div>
                <div class="grid-cell key" data-key="KEY_1">1</div>
                <div class="grid-cell key" data-key="KEY_2">2</div>
                <div class="grid-cell key" data-key="KEY_3">3</div>
                <div class="grid-cell key" data-key="KEY_4">4</div>
                <div class="grid-cell key" data-key="KEY_5">5</div>
                <div class="grid-cell key" data-key="KEY_6">6</div>
                <div class="grid-cell key" data-key="KEY_7">7</div>
                <div class="grid-cell key" data-key="KEY_8">8</div>
                <div class="grid-cell key" data-key="KEY_9">9</div>
                <div class="grid-cell key" data-key="KEY_0">0</div>
                <div class="grid-cell key" data-key="KEY_MINUS">-</div>
                <div class="grid-cell key" data-key="KEY_EQUAL">=</div>
                <div class="grid-cell key backspace" data-key="KEY_BACKSPACE">
                    ⌫
                </div>
            </div>

            <!-- QWERTY row -->
            <div class="keyboard-row">
                <div class="grid-cell key tab" data-key="KEY_TAB">Tab</div>
                <div class="grid-cell key" data-key="KEY_Q">Q</div>
                <div class="grid-cell key" data-key="KEY_W">W</div>
                <div class="grid-cell key" data-key="KEY_E">E</div>
                <div class="grid-cell key" data-key="KEY_R">R</div>
                <div class="grid-cell key" data-key="KEY_T">T</div>
                <div class="grid-cell key" data-key="KEY_Y">Y</div>
                <div class="grid-cell key" data-key="KEY_U">U</div>
                <div class="grid-cell key" data-key="KEY_I">I</div>
                <div class="grid-cell key" data-key="KEY_O">O</div>
                <div class="grid-cell key" data-key="KEY_P">P</div>
                <div class="grid-cell key" data-key="KEY_LEFTBRACE">[</div>
                <div class="grid-cell key" data-key="KEY_RIGHTBRACE">]</div>
                <div class="grid-cell key" data-key="KEY_BACKSLASH">\</div>
            </div>

            <!-- ASDF row -->
            <div class="keyboard-row">
                <div class="grid-cell key caps" data-key="KEY_CAPSLOCK">
                    Caps
                </div>
                <div class="grid-cell key" data-key="KEY_A">A</div>
                <div class="grid-cell key" data-key="KEY_S">S</div>
                <div class="grid-cell key" data-key="KEY_D">D</div>
                <div class="grid-cell key" data-key="KEY_F">F</div>
                <div class="grid-cell key" data-key="KEY_G">G</div>
                <div class="grid-cell key" data-key="KEY_H">H</div>
                <div class="grid-cell key" data-key="KEY_J">J</div>
                <div class="grid-cell key" data-key="KEY_K">K</div>
                <div class="grid-cell key" data-key="KEY_L">L</div>
                <div class="grid-cell key" data-key="KEY_SEMICOLON">;</div>
                <div class="grid-cell key" data-key="KEY_APOSTROPHE">'</div>
                <div class="grid-cell key enter" data-key="KEY_ENTER">
                    Enter
                </div>
            </div>

            <!-- ZXCV row -->
            <div class="keyboard-row">
                <div class="grid-cell key shift" data-key="KEY_LEFTSHIFT">
                    Shift
                </div>
                <div class="grid-cell key" data-key="KEY_Z">Z</div>
                <div class="grid-cell key" data-key="KEY_X">X</div>
                <div class="grid-cell key" data-key="KEY_C">C</div>
                <div class="grid-cell key" data-key="KEY_V">V</div>
                <div class="grid-cell key" data-key="KEY_B">B</div>
                <div class="grid-cell key" data-key="KEY_N">N</div>
                <div class="grid-cell key" data-key="KEY_M">M</div>
                <div class="grid-cell key" data-key="KEY_COMMA">,</div>
                <div class="grid-cell key" data-key="KEY_DOT">.</div>
                <div class="grid-cell key" data-key="KEY_SLASH">/</div>
                <div class="grid-cell key shift" data-key="KEY_RIGHTSHIFT">
                    Shift
                </div>
            </div>

            <!-- Space row -->
            <div class="keyboard-row">
                <div class="grid-cell key ctrl" data-key="KEY_LEFTCTRL">
                    Ctrl
                </div>
                <div class="grid-cell key alt" data-key="KEY_LEFTALT">Alt</div>
                <div class="grid-cell key space" data-key="KEY_SPACE">
                    Space
                </div>
                <div class="grid-cell key alt" data-key="KEY_RIGHTALT">Alt</div>
                <div class="grid-cell key ctrl" data-key="KEY_RIGHTCTRL">
                    Ctrl
                </div>
            </div>
        </div>
    </body>
</html>
